.btn {
  border-radius: 0;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 18px;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 8px 21px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
}
.btn {
  &.btn-dark {
    background-color: $color-1;
    border: 1px solid $color-3;
    color: $color-4;
  }
  &.btn-light {
    background-color: $color-4;
    border: 1px solid $color-4;
    color: $color-1;
  }
  &.btn-disabled {
    color: $color-7;
    background-color: $color-1;
    border-color: $color-7;
    &:hover {
      cursor: not-allowed;
      filter: none;
    }
  }
  // colors
  &.btn-white {
    color: $color-4;
    background-color: $white;
    border: 0;
  }
  &.btn-yellow {
    color: $color-1;
    background-color: $yellow;
    border: 0;
  }
  &.btn-green {
    color: $color-1;
    background-color: $green;
    border: 0;
  }
  &.btn-blue {
    color: $color-1;
    background-color: $blue;
    border: 0;
  }
  &.btn-orange {
    color: $color-1;
    background-color: $orange;
    border: 0;
  }
  &.btn-purple {
    color: $color-1;
    background-color: $purple;
    border: 0;
  }
  &.btn-black {
    color: $color-1;
    background-color: $black;
    border: 0;
  }
}
