.white {
  color: $white;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.orange {
  color: $orange;
}
.purple {
  color: $purple;
}
.black {
  color: $white;
}
