.message {
  padding: 0.75rem 1rem;
  border: 1px solid $color-7;
  & .message-header {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  &.message-warning {
    border-color: rgba(255, 255, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.1);
    & .message-header {
      color: $yellow;
    }
    & p {
      color: $yellow;
    }
  }

  &.message-danger {
    border-color: rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.1);
    & .message-header {
      color: $red;
    }
    & p {
      color: $red;
    }
  }
}
