$color-1: #f2f2f2;
$color-2: #84878c;
$color-3: #5e6673;
$color-4: #343841;
$color-5: #212226;
$color-7: #c5cbd5;
$color-8: #dfe3e9;

$white: #fff;
$yellow: #f4b942;
$green: #97d8c4;
$blue: #6b9ac4;
$orange: #fe5f55;
$purple: #6a66a3;
$black: #000;

$ss: 'Poppins', Helvetica, Arial, sans-serif;
$cs: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
