@import 'reset';
@import 'font';
@import 'buttons';
@import 'colors';
@import 'grid';
@import 'shadow';
@import 'message';
@import 'border';
@import 'form';
@import 'modal';
@import 'dropdown';

.jumbo {
  background-color: $color-4;
  color: $white;
}
.code-schema {
  margin: 0.5rem 0 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
}
.divider {
  width: 100%;
  border-bottom: solid 1px;
  position: relative;
  margin: 30px 0px;
  color: $color-2;
  font-size: 0.8rem;
  &::before {
    content: 'OR';
    position: absolute;
    left: 47%;
    top: -10px;
    background-color: $color-1;
    padding: 0px 10px;
    font-family: 'IBM Plex Mono', monospace;
  }
}
p {
  color: $color-2;
}
code {
  font-size: 0.8rem;
}
pre {
  border: 1px solid $color-3;
  word-break: break-all;
  white-space: normal;
  color: $color-1;
}
.sub-title {
  color: $orange;
}

h3 {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    background-color: $orange;
    margin-top: 10px;
  }
}

.footer {
  background-color: $color-5;
  color: $white;
  padding: 3rem 0;
}
// TODO:  image rounded, input AND button side by side
// loader
